<!DOCTYPE html>
<html lang="en">

<head>
    <% include partial_dashboard/_htmlHead.ejs %>
</head>

<body>

<div id="wrapper">

    <% include partial_dashboard/_header.ejs %>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        My Rooms <small>Manage room list</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-comment"></i> My rooms
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">

                    <div id="rooms_table">

                    </div>

                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>

</div>

<% include partial_dashboard/_beforeBodyEnd.ejs %>

<script>
    var RoomTable = new RoomTable();
    $(document).ready(function() {
        RoomTable.init("<%= sockrage.addr %>", "<%= sockrage.db.room %>", "my");
    });
</script>

</body>

</html>
