<!DOCTYPE html>
<html lang="en">

<head>
    <% include partial_dashboard/_htmlHead.ejs %>
</head>

<body>

<div id="wrapper">

    <% include partial_dashboard/_header.ejs %>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Settings
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-tasks"></i> Edit profile / change password
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-7">

                    <h3><i class="fa fa-user"></i> Update profile</h3>

                    <div class="form-horizontal">

                        <div class="row">
                            <div class="col-md-3">
                                <h6>Upload a profile picture</h6>
                                <div id="profilePicDropper" class="dropper">

                                </div>
                                <button class="btn btn-default" id="resetDropzone">Reset</button>
                                <div id="uploadLoader">
                                    <img src="/img/loader.gif">
                                </div>
                                <div id="uploadLoader">
                                    <img src="/img/loader.gif">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                    </div>
                                </div>

                                <input type="hidden" id="inputProfilePicture">

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button id="updateProfileButton" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <h3><i class="fa fa-lock"></i> Update password</h3>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-3 control-label">Current password</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="inputCurrentPassword" placeholder="Current password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-3 control-label">New password</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="New password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPasswordConfirmation" class="col-sm-3 control-label">New password (confirmation)</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" id="inputPasswordConfirmation" placeholder="New password again">
                                    </div>
                                </div>

                                <input type="hidden" id="inputProfilePicture">

                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-10">
                                        <button id="updatePasswordButton" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>

</div>

<% include partial_dashboard/_beforeBodyEnd.ejs %>

<script>
    var SettingsProfileForm = new SettingsProfileForm();
    $(document).ready(function() {
        SettingsProfileForm.init("<%= sockrage.addr %>", "<%= sockrage.db.user %>");
    });
</script>

</body>

</html>