<!DOCTYPE html>
<html lang="en">
<head>
    <% include partial_external/_htmlHead.ejs %>
</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <% include partial_external/_header.ejs %>

            <div class="inner cover">
                <h1 class="cover-heading">Sign Up</h1>
                <p class="lead">It takes 20 seconds to join simplicity.</p>

                <div class="form-horizontal">

                    <div class="row">
                        <div class="col-md-3">
                            <h6>Upload a profile picture</h6>
                            <div id="profilePicDropper" class="dropper">

                            </div>
                            <button class="btn btn-default" id="resetDropzone">Reset</button>
                            <div id="uploadLoader">
                                <img src="/img/loader.gif">
                            </div>
                            <div id="uploadLoader">
                                <img src="/img/loader.gif">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                            </div>

                            <input type="hidden" id="inputProfilePicture">

                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-10">
                                    <button id="submitUserButton" class="btn btn-default">I'm done, proceed.</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <% include partial_external/_footer.ejs %>

        </div>

    </div>

</div>

<% include partial_external/_beforeBodyEnd.ejs %>

<script>
    var SignupForm = new SignupForm();
    $(document).ready(function() {
        SignupForm.init("<%= sockrage.addr %>", "<%= sockrage.db %>");
    });
</script>

</body>
</html>