<div class="mastfoot">
    <div class="inner">
        <p>Backend based on NodeJS and <a href="https://github.com/ultrasupernew/sockrage">Sockrage</a>, by <a href="http://alexandrenguyen.fr">Alexandre Nguyen</a>.</p>
    </div>
</div>