<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand"></h3>
        <ul class="nav masthead-nav">
            <li <% if (page == "index") { %>class="active"<% } %>><a href="/">Home</a></li>
            <li <% if (page == "login") { %>class="active"<% } %>><a href="/login">Log in</a></li>
            <li <% if (page == "signup") { %>class="active"<% } %>><a href="/signup">Sign up</a></li>
        </ul>
    </div>
</div>